---
import { type Product } from '../../types/product.ts'

interface Props {
  product: Product
}

const { product } = Astro.props
---

<article class='shadow bg-white rounded-md'>
  <h3 class='text-lg font-medium pt-2 px-4'>
    Reseña sobre el producto: {product.name}
  </h3>

  <div class='[&>*:nth-child(even)]:bg-gray-200'>
    {product.reviews?.map((review) => (
      <article class='mt-2 py-2 px-4'>
        <div class='w-full flex flex-row justify-start items-center gap-1'>
          <h4 class='font-medium'>
            {review.name}
          </h4>

          <h4 class='text-sm text-gray-600'>
            {review.email}
          </h4>
        </div>

        <p class='flex flex-row gap-0'>
          {[1, 2, 3, 4, 5].map((rating) => (
            <span class={rating <= review.rate ? 'text-yellow-500 scale-75' : 'text-slate-800 scale-75'}>
              <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-star-filled' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path d='M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z' stroke-width='0' fill='currentColor'></path>
              </svg>
            </span>
          ))}
        </p>

        <p class='text-gray-700'>
          {review.review}
        </p>
      </article>
    ))}
  </div>
</article>
