---
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Ganadería el infierno | perfil de usuario"
  description="Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc."
  imageFullUrl="https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png"
  showSlider={false}
>
  <div>
    <section>
      <h1>
        404      
      </h1>
      <p>
        La pagina que buscas no existe o no fue encontrada
      </p>
      <a href="/">
        Regresar al inicio
      </a>
    </section>
    <figure>
      <img src="/vaca-confundida-404.png" alt="Pagina confundida 404">
    </figure>
  </div>
</Layout>

<style>
  div{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  section{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  h1{
    font-size: 5rem;
    color: #25292E;
  }
  a{
    color: #003049;
    margin-top: 1rem;
  }
</style>

