---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='Ganadería el infierno | perfil de usuario'
  description='Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc.'
  imageFullUrl='https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png'
  showSlider={false}
>
  <div class='flex items-center justify-between gap-4 flow-row'>
    <section class='flex flex-col items-center justify-center flex-1'>
      <h1 class='mb-2 font-black text-indigo-700 text-9xl'>
        404      
      </h1>

      <p class='text-lg'>
        La pagina que buscas no existe o no fue encontrada
      </p>

      <a href='/' class='px-4 py-2 mt-4 font-bold text-white transition bg-indigo-400 rounded hover:shadow-lg hover:scale-105 hover:bg-indigo-600'>
        Regresar al inicio
      </a>
    </section>

    <figure>
      <img
        src='/vaca-confundida-404.png'
        alt='Pagina confundida 404'
        class='h-full'
      />
    </figure>
  </div>
</Layout>
