---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='Ganadería el infierno | perfil de usuario'
  description='Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc.'
  imageFullUrl='https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png'
  showSlider={false}
>
  <div class='flex flow-row justify-between items-center gap-4'>
    <section class='flex-1 flex flex-col justify-center items-center'>
      <h1 class='text-9xl mb-2 font-black text-indigo-700'>
        404      
      </h1>

      <p class='text-lg'>
        La pagina que buscas no existe o no fue encontrada
      </p>

      <a href='/' class='py-2 px-4 bg-indigo-400 rounded mt-4 text-white font-bold hover:shadow-lg hover:scale-105 hover:bg-indigo-600 transition'>
        Regresar al inicio
      </a>
    </section>

    <figure>
      <img
        src='/vaca-confundida-404.png'
        alt='Pagina confundida 404'
        class='h-full'
      />
    </figure>
  </div>
</Layout>
