---
import Title from '../components/Title.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='Ganadería el infierno | perfil de usuario'
  description='Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc.'
  imageFullUrl='https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png'
  showSlider={false}
>
  <div>
    <Title title='Acerca de nosotros' />

    <div class='text-lg text-justify'>
      <p>
        En Ganaderia el infierno, nos dedicamos con pasión y compromiso a
        brindar soluciones integrales para el sector ganadero. Con años de
        experiencia en la industria, nos enorgullece ser tu socio confiable en
        la adquisición de ganado de calidad y suministros nutricionales
        especializados.
      </p>

      <h2 class='mt-8 font-semibold'>
        ¿Quiénes somos?
      </h2>
      
      <p>
        Somos más que un negocio somos amantes apasionados de la ganadería,
        comprometidos con la excelencia y el bienestar animal. Nuestra misión es
        proporcionar a nuestros clientes ganado saludable y productos de
        alimentación de alta calidad que impulsen el rendimiento y la
        prosperidad en sus operaciones.
      </p>

      <h2 class='mt-8 font-semibold'>
        Lo Que Ofrecemos
      </h2>
      
      <ul class='list-disc ml-14'>
        <li>
          <span class='font-medium'>
            Ganado de Calidad:
          </span>{' '}
          Seleccionamos
          cuidadosamente cada animal, garantizando la salud, genética y calidad
          que cumplen con los estándares más exigentes.
        </li>

        <li>
          <span class='font-medium'>
            Alimentación Especializada:
          </span>{' '}
          Ofrecemos
          una gama completa de alimentos balanceados y suplementos nutricionales
          para garantizar el óptimo desarrollo y rendimiento de tu ganado.
        </li>

        <li>
          <span class='font-medium'>
            Asesoramiento Expert:
          </span>{' '}
          Nuestro equipo de
          expertos está aquí para proporcionarte asesoramiento personalizado y
          respaldar tus decisiones en la gestión del ganado y la alimentación.
        </li>
      </ul>
      
      <h2 class='mt-8 font-semibold'>
        Compromiso con la Calidad y el Cliente:
      </h2>

      <p>
        En Ganaderia el Infierno, la calidad y la satisfacción del cliente son
        nuestra prioridad. Trabajamos arduamente para construir relaciones
        sólidas y duraderas, ofreciendo productos y servicios que superan las
        expectativas.
      </p>

      <p class='mt-5'>
        Gracias por elegir Ganaderia el Infierno. Estamos emocionados de ser
        parte de tu éxito en la ganadería.
      </p>

      <p class='mt-3 text-center'>
        ¡Descubre la diferencia con <a href='/'>
          <span class='font-bold text-indigo-700'>
            Ganaderia el Infierno
          </span>{' '}
        </a>!
      </p>
    </div>
  </div>
</Layout>
