---
import Layout from "../layouts/Layout.astro";
import ProfileUser from "../components/islands/ProfileUser";
---

<Layout
  title="Ganadería el infierno | perfil de usuario"
  description="Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc."
  imageFullUrl="https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png"
  showSlider={false}
>
  <h1 class="text-3xl text-slate-800 font-medium mb-4">Perfil del usuario</h1>
  
  <ProfileUser client:load />
</Layout>
