---
import Layout from "../layouts/Layout.astro"
import CartProducts from "../components/islands/CartProducts"

const clientId = import.meta.env.PUBLIC_CLIENT_ID
---

<Layout
  title="Ganadería el infierno | calidad para tu ganadería"
  description="Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc."
  imageFullUrl="https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png"
  showSlider={false}
>
  <h1 class="text-3xl text-slate-800 font-medium mb-4">
    Productos en el carrito
  </h1>

  <CartProducts
    clientId={clientId}
    client:load
  />
</Layout>
