---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
---

<Layout
  title='Ganadería el infierno | perfil de usuario'
  description='Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc.'
  imageFullUrl='https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png'
  showSlider={false}
>
  <Title title='Cambiar contraseña' />

  <div class='w-full my-4'>
    <form class='w-full md:w-2/3 lg:w-1/2 mx-auto border-[1px] border-gray-300 p-4 rounded'>
      <h3 class='text-lg font-medium text-center'>
        Cambia tu contraseña
      </h3>

      <div class='w-full my-4 flex flex-col justify-start items-start gap-0.5'>
        <label class='w-full text-sm font-medium' for='password'>
          Contraseña
        </label>

        <input
          class='w-full py-2 px-4 border-[1px] border-gray-300 outline-none rounded'
          id='password'
          type='password'
          required
          placeholder='Contraseña'
        />
      </div>

      <div class='w-full my-4 flex flex-col justify-start items-start gap-0.5'>
        <label class='w-full text-sm font-medium' for='cPassword'>
          Confirmar Contraseña
        </label>

        <input
          class='w-full py-2 px-4 border-[1px] border-gray-300 outline-none rounded'
          id='cPassword'
          type='password'
          required
          placeholder='Confirmar Contraseña'
        />
      </div>

      <div class='grid w-full place-content-center'>
        <button class='inline-block px-4 py-2 mx-auto font-bold text-white transition bg-indigo-500 rounded hover:bg-indigo-700 hover:shadow-lg hover:scale-105'>
          Guardar
        </button>
      </div>
    </form>
  </div>
</Layout>
