---
import Layout from "../layouts/Layout.astro"
import SocialsNetworks from "../components/SocialsNetworks.astro";
import FrecuentQuestions from "../components/islands/FrecuentQuestions"
import ContactForm from "../components/islands/ContactForm"
---

<Layout
  title="Ganadería el infierno | perfil de usuario"
  description="Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc."
  imageFullUrl="https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png"
  showSlider={false}
>
  <h1>Contacto</h1>
  <SocialsNetworks/>
  <FrecuentQuestions client:load/>
  <ContactForm client:load/>
</Layout>
<style>
</style>
