---
import Layout from "../layouts/Layout.astro";
import ModifyProfile from "../components/islands/ModifyProfile";
---

<Layout
  title="Ganadería el infierno | perfil de usuario"
  description="Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc."
  imageFullUrl="https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png"
  showSlider={false}
>
  <h1 class="text-3xl text-slate-800 font-medium mb-4">Mi información de cuenta</h1>
  <ModifyProfile />
</Layout>
