<div class='mt-4'>
  <h2 class='font-bold text-center'>
    Contactanos directamente
  </h2>
  
  <div class='flex flex-row items-center justify-center gap-4 mt-4'>
    <section class='w-1/4 px-8 py-6 border border-gray-200 rounded border-1'>
      <h4 class='text-xl font-bold text-center'>
        Tienda Física
      </h4>

      <p class='text-base text-center'>
        Las adjuntas #122
      </p>
    </section>

    <section class='w-1/4 px-8 py-6 border border-gray-200 rounded border-1'>
      <h4 class='text-xl font-bold text-center'>
        Teléfono
      </h4>
      
      <p class='text-base text-center'>
        449-273-0234
      </p>
    </section>
  </div>

  <form class='w-3/4 mx-auto mt-4'>
    <div class='flex flex-col w-full gap-1 mb-4'>
      <label class='w-full font-medium'>
        Tu nombre
        
        <input
          class='w-full px-4 py-2 mt-1 font-normal border border-gray-300 rounded outline-none border-1'
          type='text'
          placeholder='Tu nombre'
        />
      </label>
    </div>

    <div class='flex flex-col w-full gap-1 mb-4'>
      <label class='w-full font-medium'>
        Dirección de Correo Electrónico
        
        <input
          class='w-full px-4 py-2 mt-1 font-normal border border-gray-300 rounded outline-none border-1'
          type='email'
          placeholder='Email'
        />
      </label>
    </div>

    <div class='flex flex-col w-full gap-1 mb-4'>
      <label class='w-full font-medium'>
        Consulta
        
        <textarea
          class='w-full px-4 py-2 mt-1 font-normal border border-gray-300 rounded outline-none border-1'
          placeholder='Mensaje'
        />
      </label>
    </div>

    <div class='flex justify-center'>
      <button class='px-8 py-2 font-bold text-white transition bg-indigo-500 rounded shadow hover:bg-indigo-700 hover:scale-105 hover:shadow-xl'>
        Enviar
      </button>
    </div>
  </form>
</div >
