---
import { Facebook, Gmail, Instagram } from '../icons/Socials'
---

<div class='w-[90%] my-4 mx-auto flex flex-row justify-between items-center gap-8'> 
  <a
    title='Facebook'
    href='https://www.facebook.com/profile.php?id=61553058448723'
    target='_blank'
    class='text-blue-700 flex-1 text-center bg-white py-8 px-4 border transition border-gray-200 hover:border-blue-700 hover:shadow-blue-700 hover:shadow-md hover:scale-105 shadow rounded-md text-lg flex gap-1 justify-center items-center'
  >
    <Facebook /> Facebook
  </a>

  <a
    title='Gmail'
    href='https://mail.google.com/mail/u/2/#inbox'
    target='_blank'
    class='text-red-500 flex-1 text-center bg-white py-8 px-4 border transition border-gray-200 hover:border-red-500 hover:shadow-red-500 hover:shadow-md hover:scale-105 shadow rounded-md text-lg flex gap-1 justify-center items-center'
  >
    <Gmail /> GMail
  </a>

  <a
    title='Instagram'
    href='https://www.instagram.com/ganaderiaelinfierno/'
    target='_blank'
    class='text-pink-600 flex-1 text-center bg-white py-8 px-4 border transition border-gray-200 hover:border-pink-600 hover:shadow-pink-600 hover:shadow-md hover:scale-105 shadow rounded-md text-lg flex gap-1 justify-center items-center'
  >
    <Instagram /> Instagram
  </a>
</div>
