<div class='mt-4'>
  <h2 class='text-center font-bold'>
    Contactanos directamente
  </h2>
  
  <div class='mt-4 flex flex-row justify-center gap-4 items-center'>
    <section class='w-1/4 border border-1 border-gray-200 rounded py-6 px-8'>
      <h4 class='text-xl font-bold text-center'>
        Tienda Física
      </h4>

      <p class='text-base text-center'>
        Las adjuntas #122
      </p>
    </section>

    <section class='w-1/4 border border-1 border-gray-200 rounded py-6 px-8'>
      <h4 class='text-xl font-bold text-center'>
        Teléfono
      </h4>
      
      <p class='text-base text-center'>
        449-273-0234
      </p>
    </section>
  </div>

  <form class='mt-4 w-3/4 mx-auto'>
    <div class='w-full flex flex-col gap-1 mb-4'>
      <label class='w-full font-medium'>
        Tu nombre
        
        <input
          class='font-normal w-full outline-none border border-1 border-gray-300 py-2 px-4 mt-1 rounded'
          type="text"
          placeholder="Tu nombre"
        />
      </label>
    </div>

    <div class='w-full flex flex-col gap-1 mb-4'>
      <label class='w-full font-medium'>
        Dirección de Correo Electrónico
        
        <input
          class='font-normal w-full outline-none border border-1 border-gray-300 py-2 px-4 mt-1 rounded'
          type="email"
          placeholder="Email"
        />
      </label>
    </div>

    <div class='w-full flex flex-col gap-1 mb-4'>
      <label class='w-full font-medium'>
        Consulta
        
        <textarea
          class='font-normal w-full outline-none border border-1 border-gray-300 py-2 px-4 mt-1 rounded'
          placeholder="Mensaje"
        />
      </label>
    </div>

    <div class='flex justify-center'>
      <button class='py-2 px-8 bg-indigo-500 text-white font-bold rounded shadow hover:bg-indigo-700 hover:scale-105 hover:shadow-xl transition'>
        Enviar
      </button>
    </div>
  </form>
</div >
