---
import { Facebook, Instagram, Gmail } from './icons/Socials'
---

<footer class='w-full py-12 mt-4'>
  <div class='flex flex-wrap justify-between max-w-[1200px] mx-auto mt-32'>
    <div class='flex flex-col p-10'>
      <div class='grid mb-4 place-content-center'>
        <img
          src='/images/logo-magtimus.png'
          alt='Logo de la pagina'
          title='Logo de la pagina'
          class='object-cover object-center w-40 h-auto aspect-video'
        />
      </div>

      <div class='text-lg font-semibold text-center text-gray-100 max-w-80'>
        <p>
          Lo mejor de lo mejor{' '}
          <span>del ganado</span>{' '}
          a la distancia de un click.
        </p>
      </div>
    </div>

    <div class='flex flex-col p-10'>
      <h2 class='mb-3 text-xl font-bold text-center text-white'>
        Servicios
      </h2>

      <span class='text-base text-gray-300'>Venta de Ganado</span>
      <span class='text-base text-gray-300'>Venta de Alimentos</span>
      <span class='text-base text-gray-300'>Acercamiento</span>
      <span class='text-base text-gray-300'>Asesoramiento Técnico</span>
    </div>

    <div class='flex flex-col p-10'>
      <h2 class='mb-3 text-xl font-bold text-center text-white'>
        Compañía
      </h2>

      <a title='Acerca de' href='/about' class='my-1 font-medium text-gray-100 transition hover:scale-105'>
        Acerca de nosotros
      </a>

      <a title='Términos y Condiciones' href='/terms' class='my-1 font-medium text-gray-100 transition hover:scale-105'>
        Términos y Condiciones
      </a>
    </div>

    <div class='flex flex-col p-10'>
      <h2 class='mb-3 text-xl font-bold text-center text-white'>
        Redes Sociales
      </h2>

      
      <a
        class='flex gap-1 my-1 font-medium text-gray-100 transition hover:scale-105'
        title='Facebook'
        href='https://www.facebook.com/profile.php?id=61553058448723'
        target='_blank'
      >
        <Facebook /> Facebook
      </a>
      
      <a
        class='flex gap-1 my-1 font-medium text-gray-100 transition hover:scale-105'
        title='Gmail'
        href='https://mail.google.com/mail/u/2/#inbox'
        target='_blank'
      >
        <Gmail /> Gmail
      </a>
      
      <a
        class='flex gap-1 my-1 font-medium text-gray-100 transition hover:scale-105'
        title='Instagram'
        href='https://www.instagram.com/ganaderiaelinfierno/'
        target='_blank'
      >
        <Instagram/> Instagram
      </a>
    </div>
  </div>

  <div class='max-w-[1200px] mx-auto text-center px-10'>
    <hr class='border-none h-[1px] bg-white' />
    <p class='mt-10 text-gray-100'>
      Todos los derechos reservados © 2023 <span class='font-bold'>GIOficial</span>
    </p>
  </div>
</footer>

<style>
  footer {
    *background-image: url(../images/background-footer.svg);
    *background-size: cover;

    background-color: #25292e;
    -webkit-mask-image: url('/images/background-footer.svg');
    mask-image: url('/images/background-footer.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
  }
</style>
