<style>
  footer {
    width: 100%;
    padding: 50px 0px;
    *background-image: url(../images/background-footer.svg);
    *background-size: cover;

    background-color: #25292e;
    -webkit-mask-image: url("/images/background-footer.svg");
    mask-image: url("/images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
  }

  .container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
  }

  .box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .box__footer .logo img {
    width: 180px;
  }

  .box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #f9fcfc;
    font-size: 18px;
  }

  .box__footer h2 {
    margin-bottom: 3px;
    color: #f9fcfc;
    font-weight: 700;
  }

  .box__footer a {
    margin-top: 10px;
    color: #f9fcfc;
    font-weight: 600;
  }

  .box__footer a:hover {
    opacity: 0.8;
  }

  .box__footer a .fab {
    font-size: 20px;
  }

  .box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
  }

  .box__copyright p {
    margin-top: 20px;
    color: #f9fcfc;
  }

  .box__copyright hr {
    border: none;
    height: 1px;
    background-color: #f9fcfc;
  }
</style>
<br />
<br />
<br />
<footer>
  <script
    src="https://kit.fontawesome.com/41bcea2ae3.js"
    crossorigin="anonymous"></script>
  <div class="container__footer">
    <div class="box__footer">
      <div class="logo">
        <center><img src="/images/logo-magtimus.png" alt="" /></center>
      </div>
      <div class="terms">
        <p>LO MEJOR DE LO MEJOR</p>
        <center><p>DEL GANADO</p></center>
        <p>A UN CLIC DE DISTANCIA</p>
      </div>
    </div>
    <div class="box__footer">
      <h2>Servicios</h2>
      <a href="https://www.google.com">Venta de Ganado</a>
      <a href="#">Venta de Alimentos</a>
      <a href="#">Acercamiento</a>
      <a href="#">Asesoramiento Tecnico</a>
    </div>

    <div class="box__footer">
      <h2>Compañia</h2>
      <a href="#">Acerca de</a>
      <a href="#">Certificaciones</a>
      <a href="#">Referencias</a>
      <a href="#">Terminos y Condiciones</a>
    </div>

    <div class="box__footer">
      <h2>Redes Sociales</h2>
      <a
        href="https://www.facebook.com/profile.php?id=61553058448723"
        target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a
      >
      <a href="https://mail.google.com/mail/u/2/#inbox" target="_blank"
        ><i class="fa-brands fa-google"></i></a
      > Gmail
    </div>
    <a
      href="https://www.instagram.com/ganaderiaelinfiernooficial/"
      target="_blank"><i class="fab fa-instagram-square"></i> Instagram</a
    >
  </div>
</footer>

<div class="box__copyright">
  <hr />
  <p>Todos los derechos reservados © 2023 <b>GIOficial</b></p>
</div>
