<header>
    <section>
        <div>
            <p>Moneda</p>
        </div>
        <div>
            <ul>
                <li><p>Telefono</p></li>
                <li><p>Mi cuenta</p></li>
                <li><p>Lista de deseos(0)</p></li>
                <li><p>Carrito de compras</p></li>
                <li><p>Pagar</p></li>
            </ul>
        </div>
    </section>
    <section>
        <div>
            <img src="/logo.jpeg" alt="logo">
        </div>
        <div>
            <section>
                <input type="text" placeholder="Buscar">
                <button>Buscar</button>
            </section>
        </div>
        <div>
            <a href="">
                Carrito 0 Articulos - $0.00
            </a>
        </div>
    </section>
    <section>
        <ul>
            <li><a href="">Catalogo</a></li>
            <li><a href="">Alimento</a></li>
            <li><a href="">Toros</a></li>
            <li><a href="">Vacas</a></li>
            <li><a href="">De engorda</a></li>
        </ul>
    </section>
</header>