---
import Heart from './icons/Heart.astro'
import PhoneIcon from './icons/PhoneIcon.astro'
import SearchIcon from './icons/SearchIcon.astro'
import ShoppingCartIcon from './icons/ShoppingCartIcon.astro'
import UserIcon from './icons/UserIcon.astro'
import Cookies from './islands/Cookies'
import Slider from './islands/Slider'
import ResponsiveMenu from './islands/ResponsiveMenu'

interface Props {
  showSlider?: boolean
  showCategories?: boolean
}

const { showSlider = true, showCategories = false } = Astro.props
---

<header class='w-full bg-white py-4 border-b-gray-200 border-b-[1px]'>
  <div class='w-[90%] mx-auto'>
    <section class='w-full flex justify-between items-center gap-8'>
      <div class='hidden md:block'>
        <a title='Logo' href='/'>
          <img
            class='w-32 object-cover object-center'
            src='/logo.jpeg'
            alt='Logo de la tienda'
            title='Logo de la tienda'
          />
        </a>
      </div>

      <section
        class='flex-1 flex justify-center overflow-hidden rounded-md'
      >
        <form class='flex justify-center gap-2 w-full md:w-2/3 items-center' action='/search' method='get'>
          <input
            type='text'
            name='query'
            class='py-2 px-4 outline-none block flex-1 border-[1px] border-gray-300 rounded'
            placeholder='Buscar'
          />

          <button
            type='submit'
            class='p-2 bg-indigo-600 hover:bg-indigo-700 hover:scale-105 hover:shadow-lg inline-block transition rounded text-white [&>svg]:w-6 [&>svg]:h-6'
          >
            <SearchIcon />
          </button>
        </form>
      </section>

      <div class='hidden md:flex md:justify-end'>
        <ul class='flex justify-center md:justify-end items-center gap-2'>
          <li>
            <a
              href='/contact'
              title='Teléfono'
              class='flex text-gray-800 p-1 hover:bg-gray-100 rounded-md justify-between items-center gap-1 text-sm [&>svg]:w-4 [&>svg]:h-4'
            >
              <PhoneIcon /> Contacto
            </a>
          </li>

          <li>
            <a
              href='/account'
              title='Mi cuenta'
              class='flex text-gray-800 p-1 hover:bg-gray-100 rounded-md justify-between items-center gap-1 text-sm [&>svg]:w-4 [&>svg]:h-4'
            >
              <UserIcon /> Mi cuenta
            </a>
          </li>

          <li>
            <a
              href='/wish-list'
              title='Lista de deseos'
              class='flex text-gray-800 p-1 hover:bg-gray-100 rounded-md justify-between items-center gap-1 text-sm [&>svg]:w-4 [&>svg]:h-4'
            >
              <Heart /> Lista de deseos
            </a>
          </li>

          <li>
            <a
              href='/cart'
              title='Carrito de compras'
              class='flex text-gray-800 p-1 hover:bg-gray-100 rounded-md justify-between items-center gap-1 text-sm [&>svg]:w-4 [&>svg]:h-4'
            >
              <ShoppingCartIcon /> Carrito
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <ResponsiveMenu client:visible />
</header>

{showSlider && <Slider transition:persist client:visible />}

{showSlider && (
  <h1 class='w-[90%] mx-auto mt-6 text-center text-4xl font-bold text-indigo-700'>
    Ganadería el Infierno
  </h1>
)}

{showCategories && (
  <h1 class='w-[90%] md:max-w-6xl mx-auto my-3 text-2xl font-semibold text-slate-700 mb-4'>
    Categorías principales
  </h1>

  <div class='w-full'>
    <section class='w-[90%] mx-auto mt-4'>
      <ul class='flex gap-3'>
        <li>
          <a
            href='/categories/catalogo'
            title='Catalogo'
            class='text-gray-700 bg-indigo-300 hover:bg-indigo-600 hover:text-white hover:scale-105 hover:shadow-lg inline-block transition font-bold py-1 px-2 text-sm rounded'
          >
            Catalogo
          </a>
        </li>

        <li>
          <a
            href='/categories/alimento'
            title='Alimento'
            class='text-gray-700 bg-indigo-300 hover:bg-indigo-600 hover:text-white hover:scale-105 hover:shadow-lg inline-block transition font-bold py-1 px-2 text-sm rounded'
          >
            Alimento
          </a>
        </li>

        <li>
          <a
            href='/categories/toros'
            title='Toros'
            class='text-gray-700 bg-indigo-300 hover:bg-indigo-600 hover:text-white hover:scale-105 hover:shadow-lg inline-block transition font-bold py-1 px-2 text-sm rounded'
          >
            Toros
          </a>
        </li>

        <li>
          <a
            href='/categories/vacas'
            title='Vacas'
            class='text-gray-700 bg-indigo-300 hover:bg-indigo-600 hover:text-white hover:scale-105 hover:shadow-lg inline-block transition font-bold py-1 px-2 text-sm rounded'
          >
            Vacas
          </a>
        </li>

        <li>
          <a
            href='/categories/nutricional'
            title='De engorda'
            class='text-gray-700 bg-indigo-300 hover:bg-indigo-600 hover:text-white hover:scale-105 hover:shadow-lg inline-block transition font-bold py-1 px-2 text-sm rounded'
          >
            De engorda
          </a>
        </li>
      </ul>
    </section>
  </div>
)}

<Cookies transition:persist client:load />
