---
import Heart from "./icons/Heart.astro";
import PhoneIcon from "./icons/PhoneIcon.astro";
import SearchIcon from "./icons/SearchIcon.astro";
import ShopBill from "./icons/ShopBill.astro";
import ShoppingCartIcon from "./icons/ShoppingCartIcon.astro";
import UserIcon from "./icons/UserIcon.astro";
import Cookies from "./islands/Cookies";
import Slider from "./islands/Slider";

interface Props {
  showSlider?: boolean;
}

const { showSlider = true } = Astro.props;
---

<header class="w-full bg-slate-800 py-4 border-b-gray-600 border-b-[1px]">
  <div class="w-[90%] mx-auto">
    <section class="w-full flex justify-between items-center gap-8">
      <div>
        <a
          href=""
          title="Moneda"
          class="flex text-gray-100 justify-between items-center gap-1 [&>svg]:w-4 [&>svg]:h-4"
          ><ShopBill />Moneda: MXN</a
        >
      </div>
      <div class="flex-1">
        <ul class="flex justify-end items-center gap-4">
          <li>
            <a
              href=""
              title="Telefono"
              class="flex text-gray-100 justify-between items-center gap-1 text-sm [&>svg]:w-4 [&>svg]:h-4"
              ><PhoneIcon />Teléfono: +52 449 273 0234</a>
          </li>
          <li>
            <a
              href="/account"
              title="Mi cuenta"
              class="flex text-gray-100 justify-between items-center gap-1 text-sm [&>svg]:w-4 [&>svg]:h-4"
              ><UserIcon /> Mi cuenta</a>
          </li>
          <li>
            <a
              href="/wish-list"
              title="Lista de deseos"
              class="flex text-gray-100 justify-between items-center gap-1 text-sm [&>svg]:w-4 [&>svg]:h-4"
              ><Heart /> Lista de deseos (0)</a>
          </li>
          <li>
            <a
              href="/cart"
              title="Carrito de compras"
              class="flex text-gray-100 justify-between items-center gap-1 text-sm [&>svg]:w-4 [&>svg]:h-4"
              ><ShoppingCartIcon /> Carrito de compras</a>
          </li>
          <li>
            <a
              href="/cart"
              title="Pagar"
              class="flex text-gray-100 justify-between items-center gap-1 text-sm [&>svg]:w-4 [&>svg]:h-4"
              ><ShopBill /> Pagar</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</header>

<div class="w-full mt-8">
  <section class="w-[90%] mx-auto flex justify-between items-center gap-8">
    <div>
      <a title="Logo" href="/">
        <img
          class="w-48 object-cover object-center"
          src="/logo.jpeg"
          alt="Logo de la tienda"
          title="Logo de la tienda"
        />
      </a>
    </div>
    <div class="flex-1">
      <section
        class="flex justify-center items-center gap-0 border-gray-600 border-[1px] overflow-hidden rounded-md"
      >
        <input
          type="text"
          class="py-2 px-4 outline-none block flex-1"
          placeholder="Buscar"
        />
        <button class="p-2 bg-slate-800 text-white [&>svg]:w-6 [&>svg]:h-6"
          ><SearchIcon /></button
        >
      </section>
    </div>
    <div>
      <a
        href="/cart"
        class="cart-nav bg-slate-800 py-2 px-8 rounded-md text-white flex gap-2"
      >
        <ShoppingCartIcon />{' '}
        Carrito
      </a>
    </div>
  </section>
</div>

<div class="w-full">
  <section class="w-[90%] mx-auto mt-4 p-2 bg-blue-600 rounded-md">
    <ul class="flex gap-3">
      <li>
        <a href="/categories/all" title="Catalogo" class="text-white">
          Catalogo
        </a>
      </li>
      <li>
        <a href="/categories/food" title="Alimento" class="text-white">
          Alimento
        </a>
      </li>
      <li>
        <a href="/categories/bulls" title="Toros" class="text-white">
          Toros
        </a>
      </li>
      <li>
        <a href="/categories/cows" title="Vacas" class="text-white">
          Vacas
        </a>
      </li>
      <li>
        <a href="/categories/nutritive" title="De engorda" class="text-white">
          De engorda
        </a>
      </li>
    </ul>
  </section>
</div>

{showSlider && <Slider transition:persist client:visible />}

{showSlider && (
  <h1 class="w-[90%] mx-auto mt-6 text-center text-4xl font-bold text-red-700">
    Ganadería el Infierno
  </h1>
)}

<Cookies transition:persist client:load />
