---
import Product from '../components/Product.astro'
import type { Product as ProductType } from '../types/products'

interface Props {
  products: ProductType[]
}

const { products } = Astro.props
---

<section>
  <h2 class="text-2xl font-semibold text-slate-700 mb-6">
    Productos destacados
  </h2>

  <section class="w-full flex justify-between items-start gap-4 flex-wrap">
    {products.map((product: ProductType) => (
      <Product product={product} />
    ))}
  </section>
</section>
