---
import type { Review } from '../types/products';
import StarIcon from '../components/icons/StarIcon.astro';

interface Props{
  review: Review
}

const {
  review
} = Astro.props
---

<div class="sm:w-full md:w-[47%] lg:w-[80%] border rounded-md border-slate-400 overflow-hidden shadow pb-2">
  <header class="sm:w-full md:w-[47%] lg:w-[100%] border rounded-sm border-slate-400 overflow-hidden shadow bg-blue-100 p-2">
    <h4 class="text-xl text-black font-semibold pb-2">{review.name}</h4>
  </header>
  <p class="p-2">
    {review.review}
  </p>
  <p class="p-2 flex flex-row gap-1">
    {[1, 2, 3, 4, 5].map((rating) => (
      <span class={rating <= review.rate ? 'text-yellow-500' : 'text-slate-800' }>
        <StarIcon />
      </span>
    ))}
  </p>
</div>