<form>
    <h2>Escribir una opinión</h2>
    <label>Tu nombre</label>
    <input type="text"/>
    <label>Tu opinion</label>
    <textarea></textarea>
    <label>Valoración</label>
    <div>
        <span>Malo</span>
        <input type="radio"/>
        <input type="radio"/>
        <input type="radio"/>
        <input type="radio"/>
        <input type="radio"/>
        <span>Bueno</span>
    </div>
</form>
