---
import { Facebook, Gmail, Instagram } from "./islands/icons/Socials";
---
<div> 
  <a
    title="Facebook"
    href="https://www.facebook.com/profile.php?id=61553058448723"
    target="_blank"
    class="text-blue-700  flex gap-1 justify-center items-center"
  >
    <Facebook client:load/> Facebook
  </a>
  <a
    title="Gmail"
    href="https://mail.google.com/mail/u/2/#inbox"
    target="_blank"
    class="text-red-500 flex gap-1 justify-center items-center"
  >
    <Gmail client:load/> Gmail
  </a>
  <a
    title="Instagram"
    href="https://www.instagram.com/ganaderiaelinfierno/"
    target="_blank"
    class="text-pink-600 flex gap-1 justify-center items-center"
  >
    <Instagram client:load/> Instagram
  </a>
</div>

<style>
  div{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    gap: 2rem;
  }
  a{
    flex: 1;
    text-align: center;
    background-color: white;
    padding: 2rem 1rem;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 20px -10px rgba(10, 10, 10, 0.25);
    border-radius: 0.5rem;
    font-size: 1.25rem;
  }
</style>