---
import type { GetStaticPaths } from 'astro'
import type { Product, Review as ReviewType } from '../../types/products'
import ReviewForm from '../../components/ReviewForm.astro'
import Review from '../../components/Review.astro'
import Layout from '../../layouts/Layout.astro'
import ProductDetails from '../../components/ProductDetails.astro'
import { products as db } from '../../data/db'

interface Props{
  product: Product
}

export const getStaticPaths = (async () => {
  const products: Product[] = db

  return products.map((product) => ({
    params: { slug: product.slug },
    props: { product: products.find((p) => p.slug === product.slug) }
  }))
}) satisfies GetStaticPaths

const { slug } = Astro.params
const { product } = Astro.props
---

<Layout title={`Ganadería el infierno | ${product.name}`} showSlider={false}>
  <ProductDetails product={product} />
  
  <div>
    <div>
      <a class="text-blue-600 my-4 inline-block">Opiniones</a>

      {product.reviews?.map((review:ReviewType)=>(
        <Review
          review={review}
        />
      ))}
    </div>

    <ReviewForm />
  </div>
</Layout>
