---
import type { GetStaticPaths } from 'astro'
import type { Product, Review as ReviewType } from '../../types/products'
import ReviewForm from '../../components/ReviewForm.astro'
import Review from '../../components/Review.astro'
import Footer from '../../components/Footer.astro'

interface Props{
  product: Product
}
export const getStaticPaths = (async () => {
  const response = await fetch('http://localhost:3000/products')
  const products: Product[] = await response.json()

  return products.map((product) => ({
    params: { slug: product.slug },
    props: { product: products.find((p) => p.slug === product.slug) }
  }))
}) satisfies GetStaticPaths

const { slug } = Astro.params
const { product } = Astro.props

---

<p>{slug}</p>
<img src={product?.image} alt="">
<div>
  <div>
    <a>Descripcion</a>
    <br/>
    <a class="text-blue-600">Opiniones</a>
    {product.reviews?.map((review:ReviewType)=>(
      <Review
        review={review}
      />
  
    ))}
    
  </div>
  <ReviewForm
  />
  
  <!-- Footer -->
  <Footer />

</div>
