---
import type { GetStaticPaths } from 'astro'
import type { Product } from '../../types/products'

export const getStaticPaths = (async () => {
  const response = await fetch('http://localhost:3000/products')
  const products: Product[] = await response.json()

  return products.map((product) => ({
    params: { slug: product.slug },
    props: { product: products.find((p) => p.slug === product.slug) }
  }))
}) satisfies GetStaticPaths

const { slug } = Astro.params
const { product } = Astro.props
---

<p>{slug}</p>
<img src={product?.image} alt="">
