---
import AdminCategories from '../../components/admin/AdminCategories'
import AdminLayout from '../../layouts/AdminLayout.astro'
import { categories } from '../../data/categories'
---

<AdminLayout
  title='Ganadería el infierno | panel de administración'
  description='Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc.'
  imageFullUrl='https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png'
>
  <section class='pr-4'>
    <h1 class='my-4 text-3xl font-medium text-slate-800'>Categorías</h1>

    <AdminCategories
      client:load
      categories={categories}
    />
  </section>
</AdminLayout>
