---
import AdminUsers from '../../components/admin/AdminUsers'
import AdminLayout from '../../layouts/AdminLayout.astro'
import { users } from '../../data/users'
---

<AdminLayout
  title='Ganadería el infierno | panel de administración'
  description='Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc.'
  imageFullUrl='https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png'
>
  <section class='pr-4'>
    <h1 class='text-3xl text-slate-800 font-medium my-4'>
      Usuarios
    </h1>
    
    <AdminUsers
      client:load
      users={users}
    />
  </section>
</AdminLayout>
