---
import PlusIcon from "../../../components/icons/PlusIcon.astro"
import AdminLayout from "../../../layouts/AdminLayout.astro"
---

<AdminLayout
  title="Ganadería el infierno | panel de administración"
  description="Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc."
  imageFullUrl="https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png"
>
  <section class="pl-72 pr-4">
    <h1 class="text-3xl text-slate-800 font-medium my-4">
      Categorías
    </h1>

    <div class="flex flex-row justify-start">
      <a
        href="/admin/categories/create"
        class="flex flex-row gap-2 bg-blue-600 py-2 px-4 mb-4 rounded-md text-white shadow-sm"
      >
        <span>
          Agregar Categoría{' '}
        </span>
        <PlusIcon />
      </a>
    </div>
  </section>
</AdminLayout>
